{% extends "_templates/base.twig" %}
{% block content %}
<div class="homepage-intro">
  <div class="content">
    <h1>Search buses near ...</h1>
    <div class="searchBox">
      <form id="form_busesNearby" action="buses-nearby" method="get" enctype="application/x-www-form-urlencoded" onSubmit="return validateForm(this.id);">
        <input id="q" name="q" type="text" placeholder="E.g; Bugis Junction">
      </form>
    </div>
    <p><span><a href="#">Or Search for buses near me</a></span></p>
  </div>
</div>

<div class="content colBoxes">
  <h1 style="text-align:center;">Millions of people have found the right bus to their next destination.</h1>
  <ul>
    <li>
      <div class="colBox">
        <h2>Search Location</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
      </div>
    </li>
    <li>
      <div class="colBox">
        <h2>Search Service No.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
      </div>
    </li>
    <li>
      <div class="colBox">
        <h2>Search Bus Stop No.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nisi augue. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
      </div>
    </li>
  </ul>
</div>
<div class="content spacer"></div>

<div class="homepage-downloadnow">
  <div class="content">
    <h1>Coming Soon<br>
      <span>on your mobile devices</span></h1>
    <ul>
      <li>
        <img src="img/icon-appstore.png">
      </li>
      <li>
        <img src="img/icon-googleplay.png">
      </li>
    </ul>
  </div>
  <div class="push"></div>
</div>

<div class="homepage-end">
  <div class="content">
    <h1>Have an idea to share?</h1>
    <p>Let us know or make a contribution to help us further improve this app!</p>
    <div class="push">&nbsp;</div>
    <a href="mailto:feedback@project.com">
    <div class="button">Drop us a mail</div>
    </a>
    <div class="push">&nbsp;</div>
  </div>
</div>

<script>
$(document).ready(function () {
  $("#q").focus(); 
});
    
var fixmeTop = $('.searchBox').offset().top; // Get initial position
$(window).scroll(function() {            // Assign scroll event listener
    var currentScroll = $(window).scrollTop(); // Get current position
    if (currentScroll >= fixmeTop) { // Make it fixed if you've scrolled to it
        $('.searchBox').removeClass('staticSearch');
        $('.searchBox').addClass('fixedSearch');
        $('.searchBox input[type=text]').attr("placeholder", "Search buses near...");
    } else {                       // Make it static if you scroll above
        $('.searchBox').removeClass('fixedSearch');
        $('.searchBox').addClass('staticSearch');
        $('.searchBox input[type=text]').attr("placeholder", "E.g; Bugis Junction");
    }
});

function validateForm(formID){
  var error = 0;
  
  if (trim($('#'+formID+' #q').val())==''){
    $('#'+formID+' #q').addClass('error');
    error+=1;
  }
  
  if (error>0){
    return false;
  } else {
    return true;
  }
}
function trim(str){
  return str.replace(/^\s+|\s+$/g,"");
}
</script>
{% endblock %}