<div class="content">
	<ul>
		<li>About<hr>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="about-us">About Us</a></li>
				<li><a href="the-team">The Team</a></li>
			</ul>
		</li>
		<li>Product<hr>
			<ul>
				<li><a href="bus-directory/">Bus Directory</a></li>
				<li><a href="location-directory/">Location Directory</a></li>
				<li><a href="about/">About</a></li>
				<li><a href="developer/">For Developers</a></li>
			</ul>
		</li>
		<li>Stay Connected<hr>
			<ul>
				<li><a href="http://www.facebook.com/">Find us on Facebook</a></li>
				<li><a href="http://www.twitter.com/">Find us on Twitter</a></li>
			</ul>
		</li>
		<li>Contact Us<hr>
			<ul>
				<li><a href="mailto:hello@projectname.com">hello@projectname.com</a></li>
				<li>71 Ayer Rajah Crescent</li>
				<li>#05-16</li>
				<li>Singapore 139951</li>
			</ul>
		</li>
	</ul>
	
	<div class="push">&nbsp;</div>
	<div class="push">&nbsp;</div>
	&copy; BusWhere Solutions. All rights reserved. <a href="#">Terms of Service</a>. <a href="#">Privacy Policy.</a>
	<div class="push">&nbsp;</div>
</div>