<div class="content nav">
  <div class="left">
    <a href="/"><img src="img/logo.png" class="logo"></a>
  </div>
  <div class="right">
    <div class="mobile menubar"><img src="img/menu-mobile.png" onClick="toggleMenuBar();"></div>
    <ul id="nav">
      <li{% if page=='bus-directory' %} class="selected"{% endif %}><a href="bus-directory/">Bus Directory</a></li>
      <li{% if page=='location-directory' %} class="selected"{% endif %}><a href="location-directory/">Location Directory</a></li>
      <li{% if page=='about' %} class="selected"{% endif %}><a href="about/">About</a></li>
    </ul>
  </div>
</div>